<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <% for(var i = 0; i < posts.length; i++){ %>
                <div>
                    <h4>할 일 제목 : <%= posts[i].title %></h4>
                    <p>할 일 세부내용 : <%= posts[i].detail %> </p>
                    <button class = "del-btn" data-id="<%= posts[i]._id %>">삭제</button>
                </div>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $('.del-btn').on('click', function(e){
            
            var postNum = e.target.dataset.id;
            
            $.ajax({
                method : 'DELETE',
                url : '/delete',
                data : {_id : postNum}
            }).done(function(res){
                
            });
        })

    </script>
</body>
</html>