.products-container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top : 50px;
    margin-bottom: 50px;
}

.products-container div{
    float: left;
    width: 25%;
    text-align: center;
}

@media screen and (max-width:1200px){
    .products-container div{
        width: 50%;
        text-align: center;
    }

    .products-container{
        max-width: 700px;
    }
}

@media screen and (max-width:768px){
    .products-container div{
        width: 100%;
    }
}

/* div{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.main-contents{
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 768px){
    .main-container{
        flex-wrap: wrap;
    }

    .main-contents{
        width: 50%;
    }
}

@media screen and (max-width:576px){
    .main-container{
        display: block;
    }
    .main-contents{
        margin-top: 20px;
    }
} */